body {background-color:aquamarine}
.I {color:red}
.II {color:darkorange}
.III {color:darkgoldenrod}
.IV {color:tomato;font-size:0.8em}
.grapefruit {display:block;font-size:1.17em;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;font-weight:bold;font-style:italic}
h3 {color:blue}